<!doctype html>
<html>
<head>
    <title>Google SignIn Error</title>
    <style>
        .container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: calc(100vh - 30px);
        }
        .status {
          font-size: 25px;
          font-family: sans-serif;
          text-align: center;
          color: #666;
        }

        a {
          font-size: 20px;
        }

    </style>
    <script type="text/javascript" >
    </script>
</head>
<body>
<div class="container">
    <div classname="status">There is a problem with logging into via google!</div>
    <div><a href="/login" class="status">Please try again</a></div>
</div>
</body>
</html> 